@font-face {
    font-family: "icon-font";
    src: url("icon-font.woff?1632494439676");
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "icon-font";
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-bug:before { content: "\" }
.icon-flag:before { content: "\" }
.icon-home:before { content: "\" }
