@font-face {
    font-family: "icon-font";
    src: url("icon-font.woff?1632509467292");
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "icon-font";
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-arrange:before { content: "\" }
.icon-arrow-dec:before { content: "\" }
.icon-arrow-max:before { content: "\" }
.icon-arrow-min:before { content: "\" }
.icon-arrows:before { content: "\" }
.icon-attach:before { content: "\" }
.icon-books:before { content: "\" }
.icon-border-top:before { content: "\" }
.icon-box-checked:before { content: "\" }
.icon-box-empty:before { content: "\" }
.icon-box-many:before { content: "\" }
.icon-box-shadow:before { content: "\" }
.icon-brush:before { content: "\" }
.icon-bubble:before { content: "\" }
.icon-bug:before { content: "\" }
.icon-button:before { content: "\" }
.icon-callouts:before { content: "\" }
.icon-check:before { content: "\" }
.icon-cloud-down:before { content: "\" }
.icon-cloud-upload:before { content: "\" }
.icon-cog:before { content: "\" }
.icon-coin-dollar:before { content: "\" }
.icon-coin-percent:before { content: "\" }
.icon-color-fill:before { content: "\" }
.icon-color-lens:before { content: "\" }
.icon-color-line:before { content: "\" }
.icon-colors:before { content: "\" }
.icon-column:before { content: "\" }
.icon-column-headers:before { content: "\" }
.icon-column-name:before { content: "\" }
.icon-comment:before { content: "\" }
.icon-copy:before { content: "\" }
.icon-correct:before { content: "\" }
.icon-crop:before { content: "\" }
.icon-cross:before { content: "\" }
.icon-cross2:before { content: "\" }
.icon-display:before { content: "\" }
.icon-drag:before { content: "\" }
.icon-drawer:before { content: "\" }
.icon-duplicate:before { content: "\" }
.icon-earth:before { content: "\" }
.icon-empty:before { content: "\" }
.icon-envelop:before { content: "\" }
.icon-equalizer:before { content: "\" }
.icon-exit:before { content: "\" }
.icon-expand-bottom:before { content: "\" }
.icon-expand-max:before { content: "\" }
.icon-expand-min:before { content: "\" }
.icon-expand-top:before { content: "\" }
.icon-export:before { content: "\" }
.icon-eye:before { content: "\" }
.icon-eye-off:before { content: "\" }
.icon-eyedropper:before { content: "\" }
.icon-file:before { content: "\" }
.icon-file-down:before { content: "\" }
.icon-file-up:before { content: "\" }
.icon-filter:before { content: "\" }
.icon-fire:before { content: "\" }
.icon-fire2:before { content: "\" }
.icon-flag:before { content: "\" }
.icon-folder-add2:before { content: "\" }
.icon-folder-open:before { content: "\" }
.icon-folder-open2:before { content: "\" }
.icon-folder-settings:before { content: "\" }
.icon-font:before { content: "\" }
.icon-frown:before { content: "\" }
.icon-fullscreen-max:before { content: "\" }
.icon-fullscreen-min:before { content: "\" }
.icon-fullscreen-off:before { content: "\" }
.icon-group:before { content: "\" }
.icon-hammer:before { content: "\" }
.icon-heart:before { content: "\" }
.icon-heart2:before { content: "\" }
.icon-heartbeat:before { content: "\" }
.icon-heatmap:before { content: "\" }
.icon-help:before { content: "\" }
.icon-help-live:before { content: "\" }
.icon-histogram:before { content: "\" }
.icon-home:before { content: "\" }
.icon-html5:before { content: "\" }
.icon-icons:before { content: "\" }
.icon-image:before { content: "\" }
.icon-images:before { content: "\" }
.icon-incorrect:before { content: "\" }
.icon-info:before { content: "\" }
.icon-insert-html:before { content: "\" }
.icon-insert-image:before { content: "\" }
.icon-laptop:before { content: "\" }
.icon-lightning:before { content: "\" }
.icon-link:before { content: "\" }
.icon-list:before { content: "\" }
.icon-list-check:before { content: "\" }
.icon-list-drop:before { content: "\" }
.icon-list-radio:before { content: "\" }
.icon-mail:before { content: "\" }
.icon-mirror:before { content: "\" }
.icon-money:before { content: "\" }
.icon-money copy:before { content: "\" }
.icon-more:before { content: "\" }
.icon-move-down:before { content: "\" }
.icon-move-up:before { content: "\" }
.icon-newspaper:before { content: "\" }
.icon-newtab:before { content: "\" }
.icon-notebook:before { content: "\" }
.icon-number:before { content: "\" }
.icon-numbered-list:before { content: "\" }
.icon-off:before { content: "\" }
.icon-paint-format:before { content: "\" }
.icon-panel:before { content: "\" }
.icon-panel-accordian:before { content: "\" }
.icon-panel-bottom:before { content: "\" }
.icon-panel-canvas:before { content: "\" }
.icon-panel-left:before { content: "\" }
.icon-panel-right:before { content: "\" }
.icon-panel-table:before { content: "\" }
.icon-panel-tabs:before { content: "\" }
.icon-panel-top:before { content: "\" }
.icon-panel-web:before { content: "\" }
.icon-parallel:before { content: "\" }
.icon-paste:before { content: "\" }
.icon-pause:before { content: "\" }
.icon-pencil:before { content: "\" }
.icon-pencil-ruler:before { content: "\" }
.icon-percent:before { content: "\" }
.icon-picker:before { content: "\" }
.icon-pie:before { content: "\" }
.icon-pilcrow:before { content: "\" }
.icon-pin:before { content: "\" }
.icon-pin-down:before { content: "\" }
.icon-play:before { content: "\" }
.icon-plus:before { content: "\" }
.icon-plus2:before { content: "\" }
.icon-polar:before { content: "\" }
.icon-polygon:before { content: "\" }
.icon-ppt:before { content: "\" }
.icon-present:before { content: "\" }
.icon-pretty-print:before { content: "\" }
.icon-pretty-print-sel:before { content: "\" }
.icon-publish:before { content: "\" }
.icon-question:before { content: "\" }
.icon-radar:before { content: "\" }
.icon-radio-checked:before { content: "\" }
.icon-radio-unchecked:before { content: "\" }
.icon-redo:before { content: "\" }
.icon-remove:before { content: "\" }
.icon-rocket:before { content: "\" }
.icon-rotate-angle:before { content: "\" }
.icon-rotate-point:before { content: "\" }
.icon-rotate-right:before { content: "\" }
.icon-scissors:before { content: "\" }
.icon-screen:before { content: "\" }
.icon-search:before { content: "\" }
.icon-shapes:before { content: "\" }
.icon-share-fb:before { content: "\" }
.icon-share-gplus:before { content: "\" }
.icon-share-twitter:before { content: "\" }
.icon-share2:before { content: "\" }
.icon-sitemap:before { content: "\" }
.icon-smile:before { content: "\" }
.icon-stackoverflow:before { content: "\" }
.icon-star:before { content: "\" }
.icon-star2:before { content: "\" }
.icon-star3:before { content: "\" }
.icon-stats:before { content: "\" }
.icon-step-in:before { content: "\" }
.icon-step-out:before { content: "\" }
.icon-step-over:before { content: "\" }
.icon-stop:before { content: "\" }
.icon-strikethrough:before { content: "\" }
.icon-subscript:before { content: "\" }
.icon-substract:before { content: "\" }
.icon-sum:before { content: "\" }
.icon-superscript:before { content: "\" }
.icon-table:before { content: "\" }
.icon-target:before { content: "\" }
.icon-text:before { content: "\" }
.icon-text-color:before { content: "\" }
.icon-text-h1:before { content: "\" }
.icon-text-h2:before { content: "\" }
.icon-text-h3:before { content: "\" }
.icon-text-h4:before { content: "\" }
.icon-text-shadow:before { content: "\" }
.icon-text-width:before { content: "\" }
.icon-thumbs-down:before { content: "\" }
.icon-thumbs-up:before { content: "\" }
.icon-tiles:before { content: "\" }
.icon-timer:before { content: "\" }
.icon-tint:before { content: "\" }
.icon-toolbar:before { content: "\" }
.icon-tooltip:before { content: "\" }
.icon-trash:before { content: "\" }
.icon-tree:before { content: "\" }
.icon-type:before { content: "\" }
.icon-underline:before { content: "\" }
.icon-undo:before { content: "\" }
.icon-unlink:before { content: "\" }
.icon-user:before { content: "\" }
.icon-users:before { content: "\" }
.icon-video:before { content: "\" }
.icon-wand:before { content: "\" }
.icon-xls:before { content: "\" }
.icon-zoom:before { content: "\" }
