@font-face {
    font-family: "icon-font";
    src: url("icon-font.woff?1776878206788");
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "icon-font";
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-3d:before { content: "\" }
.icon-align-bottom:before { content: "\" }
.icon-align-center:before { content: "\" }
.icon-align-justify:before { content: "\" }
.icon-align-left:before { content: "\" }
.icon-align-middle:before { content: "\" }
.icon-align-more:before { content: "\" }
.icon-align-right:before { content: "\" }
.icon-align-top:before { content: "\" }
.icon-angle:before { content: "\" }
.icon-animation:before { content: "\" }
.icon-apps:before { content: "\" }
.icon-arc:before { content: "\" }
.icon-arc-block:before { content: "\" }
.icon-archive:before { content: "\" }
.icon-area:before { content: "\" }
.icon-arrange:before { content: "\" }
.icon-arrow-dec:before { content: "\" }
.icon-arrow-down:before { content: "\" }
.icon-arrow-inc:before { content: "\" }
.icon-arrow-left:before { content: "\" }
.icon-arrow-max:before { content: "\" }
.icon-arrow-min:before { content: "\" }
.icon-arrow-right:before { content: "\" }
.icon-arrow-up:before { content: "\" }
.icon-arrows:before { content: "\" }
.icon-at:before { content: "\" }
.icon-atom:before { content: "\" }
.icon-attach:before { content: "\" }
.icon-audio:before { content: "\" }
.icon-bar:before { content: "\" }
.icon-beaker:before { content: "\" }
.icon-bold:before { content: "\" }
.icon-books:before { content: "\" }
.icon-border-all:before { content: "\" }
.icon-border-bottom:before { content: "\" }
.icon-border-left:before { content: "\" }
.icon-border-left-right:before { content: "\" }
.icon-border-none:before { content: "\" }
.icon-border-radius:before { content: "\" }
.icon-border-right:before { content: "\" }
.icon-border-top:before { content: "\" }
.icon-border-top-bottom:before { content: "\" }
.icon-box-add:before { content: "\" }
.icon-box-align-bottom:before { content: "\" }
.icon-box-align-center:before { content: "\" }
.icon-box-align-left:before { content: "\" }
.icon-box-align-middle:before { content: "\" }
.icon-box-align-right:before { content: "\" }
.icon-box-align-top:before { content: "\" }
.icon-box-border:before { content: "\" }
.icon-box-chart:before { content: "\" }
.icon-box-checked:before { content: "\" }
.icon-box-empty:before { content: "\" }
.icon-box-many:before { content: "\" }
.icon-box-remove:before { content: "\" }
.icon-box-shadow:before { content: "\" }
.icon-brush:before { content: "\" }
.icon-btn-close:before { content: "\" }
.icon-bubble:before { content: "\" }
.icon-bug:before { content: "\" }
.icon-bulb:before { content: "\" }
.icon-bullet:before { content: "\" }
.icon-burst-mode:before { content: "\" }
.icon-button:before { content: "\" }
.icon-buttons:before { content: "\" }
.icon-calculator:before { content: "\" }
.icon-calculator2:before { content: "\" }
.icon-callouts:before { content: "\" }
.icon-camera:before { content: "\" }
.icon-camera2:before { content: "\" }
.icon-cell:before { content: "\" }
.icon-check:before { content: "\" }
.icon-check2:before { content: "\" }
.icon-chord:before { content: "\" }
.icon-circle:before { content: "\" }
.icon-circuit-battery:before { content: "\" }
.icon-circuit-capacitor:before { content: "\" }
.icon-circuit-diod:before { content: "\" }
.icon-circuit-inductor:before { content: "\" }
.icon-circuit-resistor:before { content: "\" }
.icon-circuit-switch:before { content: "\" }
.icon-circuit-transistor:before { content: "\" }
.icon-cloud:before { content: "\" }
.icon-cloud-down:before { content: "\" }
.icon-cloud-upload:before { content: "\" }
.icon-cloud-word:before { content: "\" }
.icon-code:before { content: "\" }
.icon-cog:before { content: "\" }
.icon-coin-dollar:before { content: "\" }
.icon-coin-percent:before { content: "\" }
.icon-color-fill:before { content: "\" }
.icon-color-lens:before { content: "\" }
.icon-color-line:before { content: "\" }
.icon-color-solid:before { content: "\" }
.icon-colors:before { content: "\" }
.icon-column:before { content: "\" }
.icon-column-headers:before { content: "\" }
.icon-column-name:before { content: "\" }
.icon-combo-chart:before { content: "\" }
.icon-comment:before { content: "\" }
.icon-connect:before { content: "\" }
.icon-connector:before { content: "\" }
.icon-connector2:before { content: "\" }
.icon-contour:before { content: "\" }
.icon-coords-cartesian:before { content: "\" }
.icon-coords-polar:before { content: "\" }
.icon-copy:before { content: "\" }
.icon-correct:before { content: "\" }
.icon-crank:before { content: "\" }
.icon-crop:before { content: "\" }
.icon-cross:before { content: "\" }
.icon-cross-hair:before { content: "\" }
.icon-cross2:before { content: "\" }
.icon-cross4:before { content: "\" }
.icon-cursor:before { content: "\" }
.icon-dashboard:before { content: "\" }
.icon-diamond:before { content: "\" }
.icon-digit-left:before { content: "\" }
.icon-digit-right:before { content: "\" }
.icon-direction-alt:before { content: "\" }
.icon-direction-alt-2:before { content: "\" }
.icon-direction-down:before { content: "\" }
.icon-direction-normal:before { content: "\" }
.icon-direction-reverse:before { content: "\" }
.icon-direction-slow:before { content: "\" }
.icon-direction-slow-2:before { content: "\" }
.icon-direction-up:before { content: "\" }
.icon-display:before { content: "\" }
.icon-dist-horizontal:before { content: "\" }
.icon-dist-vertical:before { content: "\" }
.icon-doc-one:before { content: "\" }
.icon-doc-slides:before { content: "\" }
.icon-doc-stepped:before { content: "\" }
.icon-dollar:before { content: "\" }
.icon-dots:before { content: "\" }
.icon-drag:before { content: "\" }
.icon-drag-drop:before { content: "\" }
.icon-draw-curve:before { content: "\" }
.icon-draw-line:before { content: "\" }
.icon-draw-pen:before { content: "\" }
.icon-draw-pencil:before { content: "\" }
.icon-draw-pencil-2:before { content: "\" }
.icon-draw-scribble:before { content: "\" }
.icon-drawer:before { content: "\" }
.icon-duplicate:before { content: "\" }
.icon-earth:before { content: "\" }
.icon-ellipse:before { content: "\" }
.icon-embed:before { content: "\" }
.icon-embed2:before { content: "\" }
.icon-empty:before { content: "\" }
.icon-end-butt:before { content: "\" }
.icon-end-round:before { content: "\" }
.icon-end-square:before { content: "\" }
.icon-envelop:before { content: "\" }
.icon-equalizer:before { content: "\" }
.icon-equation:before { content: "\" }
.icon-eraser:before { content: "\" }
.icon-exit:before { content: "\" }
.icon-expand-bottom:before { content: "\" }
.icon-expand-max:before { content: "\" }
.icon-expand-min:before { content: "\" }
.icon-expand-top:before { content: "\" }
.icon-export:before { content: "\" }
.icon-eye:before { content: "\" }
.icon-eye-closed:before { content: "\" }
.icon-eye-off:before { content: "\" }
.icon-eyedropper:before { content: "\" }
.icon-feedback:before { content: "\" }
.icon-female:before { content: "\" }
.icon-female-symbol:before { content: "\" }
.icon-file:before { content: "\" }
.icon-file-css:before { content: "\" }
.icon-file-down:before { content: "\" }
.icon-file-excel:before { content: "\" }
.icon-file-js:before { content: "\" }
.icon-file-pdf:before { content: "\" }
.icon-file-picture:before { content: "\" }
.icon-file-play:before { content: "\" }
.icon-file-powerpoint:before { content: "\" }
.icon-file-remove:before { content: "\" }
.icon-file-rename:before { content: "\" }
.icon-file-save:before { content: "\" }
.icon-file-up:before { content: "\" }
.icon-file-usolver:before { content: "\" }
.icon-file-word:before { content: "\" }
.icon-file-xml:before { content: "\" }
.icon-file-zip:before { content: "\" }
.icon-filter:before { content: "\" }
.icon-fire:before { content: "\" }
.icon-fire2:before { content: "\" }
.icon-flag:before { content: "\" }
.icon-flashcard:before { content: "\" }
.icon-flask:before { content: "\" }
.icon-flask2:before { content: "\" }
.icon-flip-horizontal:before { content: "\" }
.icon-flip-vertical:before { content: "\" }
.icon-float-bottom:before { content: "\" }
.icon-float-left:before { content: "\" }
.icon-float-right:before { content: "\" }
.icon-float-top:before { content: "\" }
.icon-folder-add:before { content: "\" }
.icon-folder-add2:before { content: "\" }
.icon-folder-open:before { content: "\" }
.icon-folder-open2:before { content: "\" }
.icon-folder-settings:before { content: "\" }
.icon-font:before { content: "\" }
.icon-format-shapes:before { content: "\" }
.icon-frown:before { content: "\" }
.icon-fullscreen:before { content: "\" }
.icon-fullscreen-max:before { content: "\" }
.icon-fullscreen-min:before { content: "\" }
.icon-fullscreen-off:before { content: "\" }
.icon-func:before { content: "\" }
.icon-gauge:before { content: "\" }
.icon-gauge-line:before { content: "\" }
.icon-gauge-scale:before { content: "\" }
.icon-gauge2:before { content: "\" }
.icon-gear:before { content: "\" }
.icon-geometry:before { content: "\" }
.icon-golf:before { content: "\" }
.icon-google:before { content: "\" }
.icon-grad-pad:before { content: "\" }
.icon-grad-reflect:before { content: "\" }
.icon-grad-repeat:before { content: "\" }
.icon-gradient:before { content: "\" }
.icon-gradient2:before { content: "\" }
.icon-gradient3:before { content: "\" }
.icon-group:before { content: "\" }
.icon-grouped:before { content: "\" }
.icon-hammer:before { content: "\" }
.icon-hand-down:before { content: "\" }
.icon-hand-up:before { content: "\" }
.icon-heart:before { content: "\" }
.icon-heart2:before { content: "\" }
.icon-heartbeat:before { content: "\" }
.icon-heatmap:before { content: "\" }
.icon-help:before { content: "\" }
.icon-help-live:before { content: "\" }
.icon-histogram:before { content: "\" }
.icon-history:before { content: "\" }
.icon-home:before { content: "\" }
.icon-horizontal:before { content: "\" }
.icon-hotspot:before { content: "\" }
.icon-hotspot-fill:before { content: "\" }
.icon-hotspot-off:before { content: "\" }
.icon-hotspot-over:before { content: "\" }
.icon-html5:before { content: "\" }
.icon-icons:before { content: "\" }
.icon-image:before { content: "\" }
.icon-images:before { content: "\" }
.icon-import-svg:before { content: "\" }
.icon-incline:before { content: "\" }
.icon-incorrect:before { content: "\" }
.icon-indent-dec:before { content: "\" }
.icon-indent-inc:before { content: "\" }
.icon-info:before { content: "\" }
.icon-insert-data:before { content: "\" }
.icon-insert-html:before { content: "\" }
.icon-insert-image:before { content: "\" }
.icon-italic:before { content: "\" }
.icon-join-flat:before { content: "\" }
.icon-join-round:before { content: "\" }
.icon-join-sharp:before { content: "\" }
.icon-js:before { content: "\" }
.icon-keyboard:before { content: "\" }
.icon-keyframe:before { content: "\" }
.icon-label:before { content: "\" }
.icon-laptop:before { content: "\" }
.icon-layout-flex:before { content: "\" }
.icon-layout-normal:before { content: "\" }
.icon-leaderboard:before { content: "\" }
.icon-lightning:before { content: "\" }
.icon-line:before { content: "\" }
.icon-line-c:before { content: "\" }
.icon-line-c2:before { content: "\" }
.icon-line-connect:before { content: "\" }
.icon-line-connect2:before { content: "\" }
.icon-line-curve:before { content: "\" }
.icon-line-curve2:before { content: "\" }
.icon-line-dashed:before { content: "\" }
.icon-line-disconnect:before { content: "\" }
.icon-line-dotted:before { content: "\" }
.icon-line-double:before { content: "\" }
.icon-line-flip:before { content: "\" }
.icon-line-horizontal:before { content: "\" }
.icon-line-numbers:before { content: "\" }
.icon-line-solid:before { content: "\" }
.icon-line-straight:before { content: "\" }
.icon-line-tripple:before { content: "\" }
.icon-line-tripple2:before { content: "\" }
.icon-line-u:before { content: "\" }
.icon-line-u2:before { content: "\" }
.icon-line-vertical:before { content: "\" }
.icon-link:before { content: "\" }
.icon-list:before { content: "\" }
.icon-list-check:before { content: "\" }
.icon-list-drop:before { content: "\" }
.icon-list-radio:before { content: "\" }
.icon-list2:before { content: "\" }
.icon-lock:before { content: "\" }
.icon-magnify:before { content: "\" }
.icon-mail:before { content: "\" }
.icon-male:before { content: "\" }
.icon-male-symbol:before { content: "\" }
.icon-manometer:before { content: "\" }
.icon-marker-arrow:before { content: "\" }
.icon-marker-arrow-stop:before { content: "\" }
.icon-marker-arrow-stop2:before { content: "\" }
.icon-marker-arrow2:before { content: "\" }
.icon-marker-circle:before { content: "\" }
.icon-marker-circle2:before { content: "\" }
.icon-marker-diamond:before { content: "\" }
.icon-marker-diamond2:before { content: "\" }
.icon-marker-none:before { content: "\" }
.icon-marker-stop:before { content: "\" }
.icon-marker-stop2:before { content: "\" }
.icon-menu:before { content: "\" }
.icon-microscope:before { content: "\" }
.icon-minislide:before { content: "\" }
.icon-mirror:before { content: "\" }
.icon-mode-edit:before { content: "\" }
.icon-money:before { content: "\" }
.icon-money copy:before { content: "\" }
.icon-moon:before { content: "\" }
.icon-more:before { content: "\" }
.icon-mouse:before { content: "\" }
.icon-mouse-click:before { content: "\" }
.icon-mouse-more:before { content: "\" }
.icon-mouse-out:before { content: "\" }
.icon-mouse-over:before { content: "\" }
.icon-mouse-pointer:before { content: "\" }
.icon-move:before { content: "\" }
.icon-move-down:before { content: "\" }
.icon-move-up:before { content: "\" }
.icon-nav-bar:before { content: "\" }
.icon-nav-buttons:before { content: "\" }
.icon-nav-float:before { content: "\" }
.icon-newspaper:before { content: "\" }
.icon-newtab:before { content: "\" }
.icon-none:before { content: "\" }
.icon-notebook:before { content: "\" }
.icon-number:before { content: "\" }
.icon-numbered-list:before { content: "\" }
.icon-off:before { content: "\" }
.icon-oval:before { content: "\" }
.icon-paint-format:before { content: "\" }
.icon-panel:before { content: "\" }
.icon-panel-accordian:before { content: "\" }
.icon-panel-bottom:before { content: "\" }
.icon-panel-canvas:before { content: "\" }
.icon-panel-left:before { content: "\" }
.icon-panel-right:before { content: "\" }
.icon-panel-table:before { content: "\" }
.icon-panel-tabs:before { content: "\" }
.icon-panel-top:before { content: "\" }
.icon-panel-web:before { content: "\" }
.icon-parallel:before { content: "\" }
.icon-paste:before { content: "\" }
.icon-pause:before { content: "\" }
.icon-pencil:before { content: "\" }
.icon-pencil-ruler:before { content: "\" }
.icon-pendulum:before { content: "\" }
.icon-percent:before { content: "\" }
.icon-picker:before { content: "\" }
.icon-pie:before { content: "\" }
.icon-pilcrow:before { content: "\" }
.icon-pin:before { content: "\" }
.icon-pin-down:before { content: "\" }
.icon-pipe:before { content: "\" }
.icon-pipe-elbow:before { content: "\" }
.icon-play:before { content: "\" }
.icon-plus:before { content: "\" }
.icon-plus-minus:before { content: "\" }
.icon-plus2:before { content: "\" }
.icon-point:before { content: "\" }
.icon-points:before { content: "\" }
.icon-polar:before { content: "\" }
.icon-poll:before { content: "\" }
.icon-polygon:before { content: "\" }
.icon-polyline:before { content: "\" }
.icon-pos-bottom-center:before { content: "\" }
.icon-pos-bottom-left:before { content: "\" }
.icon-pos-bottom-right:before { content: "\" }
.icon-pos-center:before { content: "\" }
.icon-pos-center-left:before { content: "\" }
.icon-pos-center-right:before { content: "\" }
.icon-pos-top-center:before { content: "\" }
.icon-pos-top-left:before { content: "\" }
.icon-pos-top-right:before { content: "\" }
.icon-ppt:before { content: "\" }
.icon-present:before { content: "\" }
.icon-pretty-print:before { content: "\" }
.icon-pretty-print-sel:before { content: "\" }
.icon-publish:before { content: "\" }
.icon-pulley:before { content: "\" }
.icon-qrcode:before { content: "\" }
.icon-question:before { content: "\" }
.icon-quiz:before { content: "\" }
.icon-radar:before { content: "\" }
.icon-radio-checked:before { content: "\" }
.icon-radio-unchecked:before { content: "\" }
.icon-random:before { content: "\" }
.icon-rectangle:before { content: "\" }
.icon-redo:before { content: "\" }
.icon-remove:before { content: "\" }
.icon-robot-arm:before { content: "\" }
.icon-rocket:before { content: "\" }
.icon-rotate:before { content: "\" }
.icon-rotate-angle:before { content: "\" }
.icon-rotate-left:before { content: "\" }
.icon-rotate-point:before { content: "\" }
.icon-rotate-right:before { content: "\" }
.icon-same-height:before { content: "\" }
.icon-same-size:before { content: "\" }
.icon-same-width:before { content: "\" }
.icon-sankey:before { content: "\" }
.icon-scale-linear:before { content: "\" }
.icon-scale-log:before { content: "\" }
.icon-scatter:before { content: "\" }
.icon-scissors:before { content: "\" }
.icon-screen:before { content: "\" }
.icon-search:before { content: "\" }
.icon-select-all:before { content: "\" }
.icon-send-back:before { content: "\" }
.icon-send-front:before { content: "\" }
.icon-settings:before { content: "\" }
.icon-shape-center:before { content: "\" }
.icon-shape-circle:before { content: "\" }
.icon-shape-cube:before { content: "\" }
.icon-shape-ellipse:before { content: "\" }
.icon-shape-exclude:before { content: "\" }
.icon-shape-fragment:before { content: "\" }
.icon-shape-intersect:before { content: "\" }
.icon-shape-merge:before { content: "\" }
.icon-shape-minus:before { content: "\" }
.icon-shape-point1:before { content: "\" }
.icon-shape-point2:before { content: "\" }
.icon-shape-point3:before { content: "\" }
.icon-shape-point4:before { content: "\" }
.icon-shape-point5:before { content: "\" }
.icon-shape-point6:before { content: "\" }
.icon-shape-union:before { content: "\" }
.icon-shapes:before { content: "\" }
.icon-shapes-multiple:before { content: "\" }
.icon-share-fb:before { content: "\" }
.icon-share-gplus:before { content: "\" }
.icon-share-linkedin:before { content: "\" }
.icon-share-twitter:before { content: "\" }
.icon-share2:before { content: "\" }
.icon-sheet:before { content: "\" }
.icon-sheet-export:before { content: "\" }
.icon-sheet-import:before { content: "\" }
.icon-sitemap:before { content: "\" }
.icon-slider:before { content: "\" }
.icon-smile:before { content: "\" }
.icon-smoke:before { content: "\" }
.icon-sort:before { content: "\" }
.icon-sort-1:before { content: "\" }
.icon-sort-2:before { content: "\" }
.icon-sort-down:before { content: "\" }
.icon-sort-up:before { content: "\" }
.icon-spark:before { content: "\" }
.icon-spinner:before { content: "\" }
.icon-spinner-2:before { content: "\" }
.icon-spinner-3:before { content: "\" }
.icon-spinner-4:before { content: "\" }
.icon-spring:before { content: "\" }
.icon-square:before { content: "\" }
.icon-stacked:before { content: "\" }
.icon-stackoverflow:before { content: "\" }
.icon-star:before { content: "\" }
.icon-star2:before { content: "\" }
.icon-star3:before { content: "\" }
.icon-stats:before { content: "\" }
.icon-step-in:before { content: "\" }
.icon-step-out:before { content: "\" }
.icon-step-over:before { content: "\" }
.icon-stop:before { content: "\" }
.icon-strikethrough:before { content: "\" }
.icon-subscript:before { content: "\" }
.icon-substract:before { content: "\" }
.icon-sum:before { content: "\" }
.icon-sun:before { content: "\" }
.icon-super-shape:before { content: "\" }
.icon-superscript:before { content: "\" }
.icon-survey:before { content: "\" }
.icon-sync:before { content: "\" }
.icon-tab:before { content: "\" }
.icon-table:before { content: "\" }
.icon-table-bottom:before { content: "\" }
.icon-table-cell:before { content: "\" }
.icon-table-cell-col:before { content: "\" }
.icon-table-cell-mid:before { content: "\" }
.icon-table-cell-row:before { content: "\" }
.icon-table-column:before { content: "\" }
.icon-table-right:before { content: "\" }
.icon-table-row:before { content: "\" }
.icon-tag:before { content: "\" }
.icon-tangent:before { content: "\" }
.icon-target:before { content: "\" }
.icon-text:before { content: "\" }
.icon-text-address:before { content: "\" }
.icon-text-align-bottom:before { content: "\" }
.icon-text-align-middle:before { content: "\" }
.icon-text-align-top:before { content: "\" }
.icon-text-color:before { content: "\" }
.icon-text-h1:before { content: "\" }
.icon-text-h2:before { content: "\" }
.icon-text-h3:before { content: "\" }
.icon-text-h4:before { content: "\" }
.icon-text-height:before { content: "\" }
.icon-text-pre:before { content: "\" }
.icon-text-quote:before { content: "\" }
.icon-text-shadow:before { content: "\" }
.icon-text-width:before { content: "\" }
.icon-thermometer:before { content: "\" }
.icon-thumbs-down:before { content: "\" }
.icon-thumbs-up:before { content: "\" }
.icon-tiles:before { content: "\" }
.icon-time-line:before { content: "\" }
.icon-timer:before { content: "\" }
.icon-tint:before { content: "\" }
.icon-toggle:before { content: "\" }
.icon-toggle2:before { content: "\" }
.icon-toolbar:before { content: "\" }
.icon-tooltip:before { content: "\" }
.icon-touch-app:before { content: "\" }
.icon-trash:before { content: "\" }
.icon-tree:before { content: "\" }
.icon-triangle:before { content: "\" }
.icon-triangle-e:before { content: "\" }
.icon-triangle-g:before { content: "\" }
.icon-triangle-i:before { content: "\" }
.icon-triangle-r:before { content: "\" }
.icon-tube:before { content: "\" }
.icon-type:before { content: "\" }
.icon-u-tube:before { content: "\" }
.icon-underline:before { content: "\" }
.icon-undo:before { content: "\" }
.icon-ungroup:before { content: "\" }
.icon-unlink:before { content: "\" }
.icon-unlock:before { content: "\" }
.icon-user:before { content: "\" }
.icon-users:before { content: "\" }
.icon-usolver:before { content: "\" }
.icon-vector:before { content: "\" }
.icon-vector-chart:before { content: "\" }
.icon-vector2:before { content: "\" }
.icon-vertical:before { content: "\" }
.icon-video:before { content: "\" }
.icon-wand:before { content: "\" }
.icon-xls:before { content: "\" }
.icon-zoom:before { content: "\" }
.icon-zoom-fit:before { content: "\" }
