#app-toolbar {
    background-color: transparent;
    padding: 0 10px;
    margin: 15px 10px 0 300px;

    &.w2ui-toolbar .w2ui-scroll-wrapper {
        .w2ui-tb-button {
            font-size: 15px;
            height: 34px;
            padding: 2px 10px;

            &.over {
                background-color: #faf8fb;
            }

            & .w2ui-tb-icon {
                margin-top: 3px;
                margin-left: -3px;
                & > span {
                    padding-top: 1px;
                    font-size: 18px;
                }
            }
        }
        .w2ui-tb-button.checked {
            border: 1px solid #d8cbdf;
            background-color: #f6f3f8;
        }
    }
}

// hide sidevar show/hide
.w2ui-sidebar .w2ui-sidebar-body .w2ui-node-group :nth-child(1) {
    display: none;
}

.w2ui-menu .w2ui-menu-item .menu-icon span {
    margin-top: -2px;
    height: 18px;
}

#app-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;

    .app-logo {
        position: relative;
        top: -3px;
    }
    #app-header {
        z-index : 2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 70px;
        background-color: #fff;
        border-bottom: 1px solid #dedede;
        box-shadow: 0px 0px 8px #e1e1e1;

        #app-title {
            display: inline-block;
            padding: 20px 15px 0 20px;
            font-size: 20px;
            color: #606060;
            text-shadow: 0 1px 2px #fff;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            .app-logo {
                border: 1px solid silver;
                border-radius: 3px;
                height: 35px;
                width: 35px;
                position: absolute;
                left: 20px;
                top: 16px;
            }

            .app-caption {
                margin-top: 4px;
                margin-left: 45px;
            }

            .icon-chevron-right {
                font-size: 15px;
                position: relative;
                top: -1px;
                color: #8a8a8a;
            }
        }
    }
    #app-main {
        z-index: 1;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 11px;
        border-top: 1px solid white;
    }
}

.w2ui-layout {
    & .w2ui-panel-content {
        background-color: #f5f6f8 !important;
    }
}

/* Sidebar */
.w2ui-sidebar {
    & .w2ui-sidebar-top {
        .w2ui-flat-left,
        .w2ui-flat-right {
            height: 28px;
        }
    }

    input {
        display: none;
    }

    & .w2ui-sidebar-body {
        overflow: auto;
        background-color: #fff;

        & .w2ui-node-group :nth-child(1) {
            display: none;
        }

        .w2ui-node:not(.w2ui-node-flat) {
            &.w2ui-level-0 {
                margin: 8px 5px 0 16px;
                .w2ui-node-data {
                    margin-left: 9px !important;
                }
            }
            &.w2ui-node.w2ui-level-1 {
                margin: 0 6px 0 16px;
                .w2ui-node-data {
                    margin-left: 9px !important;
                }
            }
            &:hover {
                background-color: #f1f0f2;
            }
            &.w2ui-selected:not(.sidebar-button, .sidebar-group),
            &.w2ui-selected:not(.sidebar-button, .sidebar-group):hover {
                background-color: #eee8f2 !important;
                border: 1px solid #eee8f2 !important;
                background: linear-gradient( to right, #a10a8d 0 3px, transparent 3px );
                border-radius: 3px;
            }

            .w2ui-node-data {
                padding: 5px 3px;
            }

            .w2ui-node-text {
                font-size: 14px;
            }

            &.sidebar-group {
                border: 0px;
                border-top: 1px solid #e3e3e3;
                margin-top: 10px;
                padding-top: 10px;
                margin: 10px 8px 4px 4px;
                background-color: transparent !important;

                .w2ui-node-image {
                    display: none;
                }

                .w2ui-sb-toggle {
                    width: 22px;
                    padding-left: 8px;
                }

                .w2ui-node-text {
                    margin-left: 0px !important;
                    color: #8e8e8e;
                    font-size: 14px;
                    text-transform: uppercase;
                }
            }
        }


        .w2ui-node-group {
            // border-top: 1px solid #e3e3e3;
            margin-top: 10px;
            padding-top: 14px;
            margin: 12px 8px 0 8px;
            color: #8e8e8e;
            font-size: 13px;

            :nth-child(1) {
                display: none; // hide show/hide text
            }

            /* &:after {
                content: '▾'; // ⌄ ▾ ▿
                display: inline;
                float: right;
                width: 10px;
                color: #8e8e8e;
                font-size: 14px;
                margin-top: -2px;
            } */
        }

        .w2ui-node-flat:not(.sidebar-button) {
            padding: 6px 0;
        }

        .w2ui-node.sidebar-button {
            background-color: #25a2eb !important;
            color: white;
            border-radius: 26px;
            margin: 5px 5px !important;
            &:hover {
                background-color: #2a92cf !important;
            }
            .w2ui-node-data {
                display: flex;
                justify-content: center;
                margin-left: 0px !important;
                .w2ui-node-text {
                    margin-left: 0px;
                    color: white;
                    text-shadow: none;
                }
                .w2ui-node-image span {
                    color: white;
                    text-shadow: 0px 0px 2px #232323;
                }
            }
            .w2ui-selected,
            .w2ui-selected:hover {
                background-color: #25a2eb !important;
                border: 1px solid blue !important;
            }
        }

        .w2ui-selected,
        .w2ui-selected:hover {
            background-color: #efe5f6;
            border: 1px solid #b390cd;
        }
    }
}

.w2ui-grid {
    background-color: #f5f6f8 !important;

    & .w2ui-grid-toolbar {
        padding-top: 5px;
        height: 50px;
        background-color: #f5f6f8 !important;

        & .w2ui-scroll-wrapper .w2ui-tb-button {
            height: 32px !important;
            margin-left: 0px;
            padding: 3px 6px;
        }

        & .w2ui-grid-search-input {
            .w2ui-search-all {
                background-color: #fdfcfd !important;
                border-color: #fdfcfd !important;
                box-shadow: 0 0 1px 1px rgb(206, 208, 211) !important;
            }
            .w2ui-search-all:focus {
                border-color: transparent !important;
                box-shadow: 0 0 0 2px rgba(114, 178, 255) !important;
                outline: none !important;


            }
        }
    }

    & .w2ui-grid-box {
        margin: 12px;
    }

    & .w2ui-grid-body {
        border: 1px solid #d6d3d6;
        border-radius: 4px;

        table td {
            font-size: 13px;
        }
    }
}